.navigation {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #E94E1B;
    font-family: "montserrat-semibold";
}
  
.navigation a{
    text-decoration: none;
}
  
.navigation a:hover{
    color: #009FA5;
}
  
.navigation .link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.custombutton{
    font-size: 2rem;
    background-color: #043242;
    border-color: #E94E1B;
    color: #E94E1B;
}
  
.custombutton:hover{
    background-color: #E94E1B;
    border-color: #E94E1B;
    color: #043242;
    transition: 0.5s;
}

.navtext{
  margin-left: 1rem;
}

.textflag{
    margin-left: 0.5rem;
}

@media (max-width: 800px) {
    .navigation{
      margin-bottom: 1rem;
    }
  
    .navigation .logobox{
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
    }
  
    .navigation .custombutton{
      width: 150px;
      height: 50px;
    }
  
    .navigation .iconflag{
      margin-top: -0.8rem;
    }
  
    .navigation .textflag{
      display: none;
    }
  
    .navigation .navtext{
      display: none;
    }
}

@media screen and (min-width: 801px) and (max-width: 1081px){
  .navigation .textflag{
    font-size: 1rem;
  }

  .navigation .navtext{
    font-size: 1rem;
  }
}