.row1{
    max-width: 100%;
}

.bottomrightcorner{
    margin-top: -5rem;
    position: relative;
    width: 90.1vw;
    height: 45vh;
    z-index: 1;
}

.wave1{
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
}
  
.wave2{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
}

@media (max-width: 800px) {
    .bottomrightcorner{
        margin-bottom: -4rem;
    }
    
    .row1{
        width: 100%!important;
    }
}
  