.jumbotron{
    width: 100%;
}

.topleftcorner{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 3rem;
    background: linear-gradient(90deg, rgba(4,50,66,1) 0%, rgba(0,159,165,1) 100%); 
}

.topleftcorner svg{
    margin-bottom: -1rem;
}
