.aboutmegrid{
    display: grid;
    grid-template-areas: "overlay";
}

.aboutmegrid > span {
    grid-area: overlay;
}

.aboutmegrid > div {
    grid-area: overlay;
    font-family: "montserrat-light";
    font-size: 1rem;
    z-index: 1;
    background: linear-gradient(to top, rgba(4, 50, 66, 0.90), transparent);
    text-align: center;
    pointer-events: none;
    padding-top: 55%;
}

.aboutpicture1, .aboutpicture2, .aboutpicture3, .aboutpicture4{
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    z-index: 0;
}

.aboutpicture1:hover, .aboutpicture2:hover, .aboutpicture3:hover, .aboutpicture4:hover{
    transform: scale(1.2);
}

@media (max-width: 800px) {

    .aboutmegrid > div{
        font-size: 0.8rem;
    }

    .aboutpicture1:hover, .aboutpicture2:hover, .aboutpicture3:hover, .aboutpicture4:hover{
        transform: none!important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1081px){
    .aboutmerow{
        width: 200%;
    }
}