.imageprofile{
    display: flex;
    justify-content: flex-end;
}

.profileoverlay{
    z-index: 1;
    position: absolute;
    height: 352px;
    width: 325px;
    background: linear-gradient(to right, rgba(4, 50, 66, 0.9), transparent);
}

.profilewrapper{
    width: 100%;
    height: 425px;
    display: block;
}

.profilepicture{
    z-index: 0;
}

@media (max-width: 800px) {

    .profileoverlay{
        width: 319px;
        height: 339px;
    }

    .profilewrapper{
        height: 339px;
        margin-bottom: 1rem;
    }
}