.imageprofile{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.profilewrapper{
    display: grid;
    grid-template-areas: "overlay";
    height: 300px;
    width: 300px;  
}

.profilewrapper > span {
    grid-area: overlay;
}

.profilewrapper > div {
    grid-area: overlay;
    z-index: 1;
    background: linear-gradient(to right, rgba(4, 50, 66, 0.9), transparent);
}

/* .profileoverlay{
    z-index: 1;
    position: absolute;
    height: 352px;
    width: 325px;
    background: linear-gradient(to right, rgba(4, 50, 66, 0.9), transparent);
} */

.profilepicture{
    z-index: 0;
}

@media (max-width: 800px) {

}