.aboutme{
    width: 100%;
    margin-bottom: 5rem;
}

.propos {
    margin-bottom: 3rem;
}

.aboutrow{
    max-width: 100%;
}

.profiletext{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.toolstitle{
    margin-left: 1.4rem;
    font-weight: bolder;
    color: rgba(0,159,165,1);
}

@media (max-width: 800px) {
    .aboutrow{
        margin-left: 1rem;
        margin-right: 1rem;
        max-width: 100%!important;
    }    

    .toolstitle{
        font-size: 1.2rem!important;
        margin-top: 1rem;
    }
}

@media screen and (min-width: 1550px) {
    .aboutme{
        width: 75%;
    }
}