.footer {
    display: flex;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}
  
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #E94E1B;
    font-family: "montserrat-medium";
    margin-right: 0.5rem;
}
  
.icons{
    margin-right: 0.5rem;
}
  
.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.footer a:hover{
    color: #009FA5;
}

@media screen and (max-width: 767px){
    .link{
        display: flex;
        justify-content: left;
        margin-left: 3rem;
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
        padding-left: 8rem;
    }

    .link{
        display: flex;
        justify-content: left;
        width: 50%;
        margin-bottom: 1rem;
    }
}