.card{
    width: 100%;
    background-color: #043242;
    border-color: white;
    font-family: "montserrat-light";
    margin-bottom: 3rem;
}

.card:hover{
    border-color: #E94E1B;   
}

.cardmobile{
    width: 100%;
    background-color: #043242;
    border-color: #E94E1B;   
    font-family: "montserrat-light";
    margin-bottom: 3rem;
}

.cardicon{
    position: relative;
}

.cardnumber{
    position: absolute;
    left: 10.5px;
    top: 3px;
    z-index: 1;
    font-weight: bold;
}

.cardtitletext{
    margin-left: 1rem;
    font-size: 1.5rem;
}