.worktogether{
    width: 75%;
}

.worktitle{
    margin-bottom: 4rem;
}

.workdescription{
    text-align: center;
    margin-bottom: 4rem;
}

.justifycard{
    display: flex;
    justify-content: center;
}

.importanttext{
    color: #E94E1B;
    font-weight: bold;
}