.iconslist1{
    color: #fff;
    margin-left: 1.5rem;
    margin-top: -6.5rem;
}

.hexagrid{
    display:flex;
    justify-content: center;
    --s: 100px;  /* size  */
    --m: 15px;    /* margin */
    --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
}

.hexagridwrapper{
    font-size: 0; /*disable white space between inline block element */
}

.hexagon{
    transition-property: transform;
    overflow: hidden;
    transition-duration: 0.8s;
}
  
.hexagon:hover{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.hexagridwrapper div{
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s) * 1.1547);
    display: flex;
    flex-direction: column;
    font-size:initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    margin-bottom: calc(var(--m) - var(--s) * 0.2885);
    background: #009FA5;
}
  
.hexagridwrapper div:nth-child(odd){
    background:#E94E1B;
}
  
.hexagrid ::before{
    content: "";
    width: calc(var(--s) / 2 + var(--m));
    max-width: 100%;
    float: left;
    height: 120%; 
    shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
}