.servicescards{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 2rem;
}

.box{
    display: block;
    width: 600px;
    height: 400px;
}

.serviceoverlay{
    z-index: 1;
    position: absolute;
    height: 400px;
    width: 600px;
    background: linear-gradient(to top, rgba(4, 50, 66, 0.9), rgba(4, 50, 66, 0.7));
    padding-left: 1rem;
    padding-top: 1rem;
}

.servicetext{
    z-index: 1;
    position: absolute;
    height: 400px;
    width: 600px;
    text-align: center;
    background: linear-gradient(to top, rgba(4, 50, 66, 0.9), transparent);
    display: grid;
}

.servicedescription{
    color: #009FA5;
    font-weight: bolder;
    font-size: 3rem;
    align-self: flex-end;
}

.servicepicture{
    z-index: 0;
}

@media (max-width: 800px) {
    .serviceoverlay{
        width: 375px;
        height: 250px;
        padding-left: 1.5rem;
    }

    .box{
        height: auto;
    }

    .servicetext{
        width: 375px;
        height: 250px;
    }

    .servicedescription{
        font-size: 2rem;
    }
}