.animationlogoservices{
    display: flex;
    justify-content: center;
}

.services{
    width: 100%;
    max-width: 100%;
}

.servicestitle{
    margin-bottom: 4rem;
}

.show1{
    font-size: 3rem;
    font-weight: bold;
    color: #E94E1B;
}

.iconslist{
    color: #E94E1B;
    margin-right: 1rem;
}

@media (max-width: 800px) {
    .services{
        max-width: 100vw!important;
    }
}