.show1{
    font-size: 3rem;
    font-weight: bold;
    color: #E94E1B;
}

.iconslist{
    color: #E94E1B;
    margin-right: 1rem;
}

@media screen and (max-width: 767px) {

    .show1{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
    .show1{
        font-size: 1.5rem;;
    }
}