.servicescards{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 2rem;
}

.box{
    display: grid;
    grid-template-areas: "overlay";
    width: 600px;
    height: 400px;
    overflow: hidden;
}

.box > span {
    grid-area: overlay;
}

.box > div {
    grid-area: overlay;
    z-index: 1;
    background: linear-gradient(to top, rgba(4, 50, 66, 0.95), rgba(4, 50, 66, 0.25));
    text-align: center;
    padding-top: 50%;
}

.box > div:hover {
    grid-area: overlay;
    padding-left: 1rem;
    padding-top: 1rem;
    background: linear-gradient(to top, rgba(4, 50, 66, 0.95), rgba(4, 50, 66, 0.75));
    text-align: left;
}

.servicedescription{
    color: #009FA5;
    font-weight: bolder;
    font-size: 3rem;
    align-self: flex-end;
}

.servicepicture{
    z-index: 0;
}

@media (max-width: 800px) {

    .servicedescription{
        font-size: 2rem;
    }
}