.slideritem{
    position: relative;
}

.slideroverlay{
    position: absolute;
    z-index: 1;
    background-color: #043242;
    opacity: 0.8;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.slideritem:hover .slideroverlay{
    height: 100%;
}

.slidertext{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.modaltitle{
    display: inline-flex;
    vertical-align: middle;
}
  
.modalfooter{
    z-index: 10;
}

.logotitle{
    margin-left: 1rem;
    color: #E94E1B;
    font-size: 3rem;
}
  
.logoitem{
    width: 150px!important;
    height: 150px!important;
}
