.slideritem{
    position: relative;
}

.slideroverlay{
    position: absolute;
    z-index: 1;
    background-color: #043242;
    opacity: 0.8;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.slideritem:hover .slideroverlay{
    height: 100%;
}

.slidertext{
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    top: 45%;
    left: 45%;
}

.modalbody{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.textcontainer{
    width: 90%;
    z-index: 2;
    margin-left: 1rem;
    margin-right: 1rem;
}

.modalwrapper{
    margin-top: 1rem;
    display: grid;
    grid-template-areas: "overlay";
    height: auto;
    width: 100%; 
}

.modalwrapper > span {
    grid-area: overlay;
}

.modalwrapper > div {
    grid-area: overlay;
    z-index: 1;
    background: linear-gradient(to top, rgba(4, 50, 66, 0.85), rgba(4, 50, 66, 0.15));
}

.modalimagestyle{
    z-index: 0;
}
  
.modalfooter{
    z-index: 10;
}

.modaltitle{
    color: #E94E1B;
    font-size: 3rem;
    text-align: center;
}

.centerbutton{
    display: flex;
    justify-content: center;
}

.modalbutton{
    font-size: 1rem;
    background-color: #043242;
    border-color: #E94E1B;
    color: #E94E1B;
}
  
.modalbutton:hover{
    background-color: #E94E1B;
    border-color: #E94E1B;
    color: #043242;
    transition: 0.5s;
}

.modallink{
    text-decoration: none;
}

.modallink:hover {
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .modaltitle{
        font-size: 2rem;
    }
}