@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'swiper/css';
@import 'swiper/css/pagination';

@font-face{
  font-family: "westmeath";
  src:url("../public/fonts/Westmeath.ttf");
  font-display: swap;
}

@font-face {
  font-family: "montserrat-semibold";
  src: url("../public/fonts/Montserrat-SemiBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "montserrat-medium";
  src: url("../public/fonts/Montserrat-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "montserrat-light";
  src: url("../public/fonts/Montserrat-Light.ttf");
  font-display: swap;
}

@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
    0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

html,
body {
  background-color: #043242;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "westmeath";
  line-height: 1.15;
  font-size: 4rem;
}

h2 {
  font-family: "westmeath";
  line-height: 1.15;
  font-size: 2.5rem;
  color: #E94E1B;
}

h3 {
  font-family: "westmeath";
  font-size: 3rem;
  color: #E94E1B;
  text-align: center;
  margin-bottom: 1rem;
}

#text {
  font-family: "montserrat-light";
  font-size: 1.5rem;
}

#textmodal {
  font-family: "montserrat-light";
  font-size: 1rem;
  text-align: justify;
}

#neonlight {
  --shadow-color: #E94E1B;
  --shadow-color-light: white;
  color: white;
  animation: neon 3s infinite;
}

#shakeanimation:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

#description {
  text-align: center;
  margin-bottom: 4rem;
}

#middlelogowrapper{
  margin-left: -2rem;
  margin-right: -2rem;
}

.modal-open{
  padding: 0!important;
}

.modal-backdrop {
  opacity: 0.7!important;
}

.modal-content{
  background-color: #043242;
}

.modal-header{
  border-bottom: none!important;
}

.modal-header button.btn-close{
  color:#E94E1B!important
}

.swiper{
  height:22rem;
}

.swiper-pagination{
  top: 20rem;
}

@media (max-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 2rem;
  }
  
  #text {
    font-size: 1rem;
  }

  #description{
    margin-bottom: 2rem;
  }

  #middlelogowrapper{
    margin-left: 0;
    margin-right: 0;
  }

  .swiper{
    height: 15rem;
  }

  .swiper-pagination{
    top: 12rem;
  }
}