@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'swiper/css';
@import 'swiper/css/navigation';

html,
body {
  background-color: #043242;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.modal-open{
  padding: 0!important;
}

.modal-backdrop {
  opacity: 0.3!important;
}

.modal-content{
  background-color: #043242;
}

.modal-header{
  border-bottom: none!important;
}

.modal-header button.btn-close{
  color:#E94E1B!important
}